html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 2.4rem;
}

h1 {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

.container-back {
  width: 60%;
  margin: 5% auto;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5DC;
  color: #000;
}

.container-acc {
  padding: 1em 5em;
  width: 100%;
}

.meme-block {
  padding: 1em 0;
  border-bottom: 0.1em solid #bbb;
}

.meme-block input[name='meme'] {
  display: none;
}

.meme-block label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  display: block;
  color: #000;
  cursor: pointer;
}

.meme-block label:after {
  content: "+";
  position: absolute;
  font-size: 1em;
  right: 0em;
  width: 1em;
  height: 1em;
  color: #000;
  text-align: center;
}

.meme-block input:checked + label {
  color: #6495ED;
}

.meme-block input:checked + label:after {
  content: "+";
  transform: rotate(45deg);
  transition: transform 0.5s;
  
}

.meme-block .meme-content {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme-block .meme-content {
  overflow: hidden;
  height: 0em;
  position: relative;
  padding: 0 1.5em;
  transition: height 0.4s;
}

input[name=meme]:checked ~ .meme-content.content-size {
  height: 22rem;
}

@media (max-width: 820px) {
  body {
    font-size: 1.8rem;
  }

  .container-back {
    width: 80%;
    height: 80%;
  }

  .container-acc {
    padding: 1em 2em;
  }
}


@media (max-width: 320px) {
  body {
    font-size: 1.6rem;
  }

  .container-back {
    width: 100%;
    height: 90%;
  }

  .container-acc {
    padding: 0.5em;
  }

}