html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 2.4rem;
}

h1 {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

.container-back {
  width: 90%;
  margin: 5% auto;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5DC;
  color: #000;
}

.container-acc {
  padding: 1em 5em;
  width: 100%;
}

.all-memes:hover {
  cursor: pointer;
}

.all-memes:hover .meme-block label {
  color: #000;
}

.all-memes:hover .meme-block label:after {
  display: inline-block;
}

.meme-block {
  padding: 1rem 0;
  border-bottom: 0.1rem solid #bbb;
}

.meme-block input[name='meme'] {
  display: none;
}

.meme-block label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  display: block;
  color: #6495ED;
  cursor: pointer;
  height: 3rem;
  transition: height 0.5s;
}

.meme-block label:after {
  display: none;
  content: "+";
  position: absolute;
  font-size: 1em;
  right: 0em;
  width: 1em;
  height: 1em;
  color: #000;
  text-align: center;
}

.meme-block input:checked + label {
  color: #000;
  height: 25rem;
  background-position-y: 5rem;
  transition: height 0.5s;
}

.meme-block label.meme1 {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('assets/meme1.jpg');
  background-position-y: 5rem;
}

.meme-block label.meme2 {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('assets/meme2.jpg');
  background-position-y: 5rem;
}

.meme-block label.meme3 {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('assets/meme3.jpg');
  background-position-y: 5rem;
}

.meme-block label.meme4 {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('assets/meme4.jpg');
  background-position-y: 5rem;
}

.meme-block:hover label {
  height: 25rem;
  transition: height 0.5s;
}

.meme-block input:checked + label:after {
  content: "+";
  transform: rotate(45deg);
  transition: transform 0.5s;
  
}

@media (max-width: 820px) {
  body {
    font-size: 1.8rem;
  }

  .container-back {
    width: 90%;
    height: 90%;
  }

  .container-acc {
    padding: 1em 2em;
  }

  .meme-block label:after {
    display: inline-block;
  }
}


@media (max-width: 320px) {
  body {
    font-size: 1.6rem;
  }

  .container-back {
    width: 100%;
    height: 100%;
  }

  .container-acc {
    padding: 0.5em;
  }

  .meme-block label:after {
    display: inline-block;
  }
}